<div class="container">
  <br>
  <label for="exampleFormControlInput1" class="form-label">Nombre de usuario o correo electrónico</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
  <br>
  <label for="inputPassword5" class="form-label">Contraseña</label>
  <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock">

  <br>
  <br>
  <div class="container2" >
    <button class="btn btn-primary input-group-text " id="basic-addon2" >Iniciar sesión</button>
  </div>

</div>


