


<div class="container ">




 <div class="row" >

  <div class="card" style="width: 35%;">
    <div class="card-header">
      Historial de películas
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A third item</li>
    </ul>
  </div>



  <div class="card" style="width: 35%;">
    <div class="card-header">
      Mejores jugadores
 <!--      <div class="form-check form-switch">
        <label class="form-check-label" for="flexSwitchCheckDefault">Hoy</label>
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Siempre</label>
      </div> -->
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A third item</li>
    </ul>
  </div>


</div>

<!--       <div class="card" style="width: 35%;">
        <div class="card-header">
          Historial de películas
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>



      <div class="card" style="width: 35%;">
        <div class="card-header">
          Featured
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div> -->





</div>

<!-- <hr style="width: 100%; " /> -->
