.color-rojo{
  background-color: #E35047;
}

.color-verde{
  background-color: #7BB662;
}

.color-naranja {
  background-color: #FFD301;
}

button{
  width: 20%;
  color: black;
  font-size: 1rem;
  border-left: 3px solid black;
  border-radius: 0px 15px 15px 0px;
  background-color: #70BFF9;
}

input{
  border-radius: 15px;
  width: 60%;
  text-align: center;
}

.input-group.mb-3{
  width: 100%;
  display: flex;
  justify-content: center;
}

.inline.button {
  display: inline;
}

.inline.red.button {
  background-color: rgb(255, 92, 92);
}

@media screen and (max-width: 768px) {
  body {
    font-size: 8px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    font-size: 10px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px){
  .container {
    font-size: 14px;
  }
}





