
  <div class="footer" id="pie" style="width: 100%;" >
    <hr style="margin-left: 10px; margin-right: 10px;" />
    <div >
        <h5>Por Ana Cámara y Olga Mandel</h5>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
        </a>
        <br/>
        Este obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">licencia de Creative Commons Attribution-ShareAlike 4.0 Internacional</a>.
    </div>
  </div>

