.color-rojo{
  background-color: red;
}

.color-verde{
  background-color: green;
}

button{
  width: 20%;
  color: black;
  font-size: 20px;
  border-left: 3px solid black;
  border-radius: 0px 15px 15px 0px;
  background-color: #70BFF9;
}

.input-group.mb-3{
  width: 100%;
  display: flex;
  justify-content: center;
}


.row{
  display: flex;
  justify-content: center;
}

/* .input-group.mb-3{
  width: 100%;
  border: 3px solid black;
  border-radius: 17px;
} */
input{
  border-radius: 15px;
  width: 45%;
}

.green {
  background-color: #c4ffc4;
}

.red {
  background-color: #ffcccc;
}
