<div class="container text-center alto">
  <div class="row">
    <label for="inputTituloIntroducido" style="font-size: xx-large;">¡Adivina la película oculta!</label>
  </div><br>

  <div class="row">
    <div class="input-group mb-3">
      <input type="text" #busqueda (keyup.enter)="getBusquedaPeliculaUsuario(busqueda.value)">
      <button>Adivinar</button>
    </div>
  </div>

  <table class="table table-bordered">

    <tbody *ngIf="getPeliculaUsuario()">
      <tr>
        <td [ngClass]="{'color-verde': coincideGenero(), 'color-rojo': !coincideGenero()}">{{ getPeliculaUsuario()?.Genre }}</td>
        <td [ngClass]="{'color-verde': coincideAnio(), 'color-rojo': !coincideAnio()}">{{ getPeliculaUsuario()?.Year }}</td>
        <td [ngClass]="{'color-verde': coincideActores(), 'color-rojo': !coincideActores()}">{{ getPeliculaUsuario()?.Actors }}</td>
        <td [ngClass]="{'color-verde': coincideDirector(), 'color-rojo': !coincideDirector()}">{{ getPeliculaUsuario()?.Director }}</td>
      </tr>
    </tbody>
  </table>
<br><br><br>
</div>

<!--   <div *ngIf="getPeliculaUsuario()">
    <p>Genre: {{ getPeliculaUsuario()?.Genre }}</p>
    <p>Year: {{ getPeliculaUsuario()?.Year }}</p>
    <p>Actors: {{ getPeliculaUsuario()?.Actors }}</p>
    <p>Director: {{ getPeliculaUsuario()?.Director }}</p>
  </div> -->


<!-- <app-tarjeta-resultados *ngFor="let resultado of getPeliculaUsuario() | keyvalue" [tarjeta]="resultado"></app-tarjeta-resultados> -->


<!-- <div class="container text-center" style="height: 500px;">
  <br>
  <div class="container text-center">
    <div class="row">
      <h3 style="text-align: right; width: 65%;">¡Adivina la película oculta!</h3>
    </div>

    <div class="row" >
      <h6 style="text-align: right; width: 65%;" >Reto diario</h6>
    </div>
  </div>

  <div class="container-fluid" style="width: 60%; ">
      <div class="input-group mb-3" >

        <input type="text" id="inputTituloIntroducido" class="form-control" placeholder="" >

        <button class="btn btn-primary input-group-text " id="botonEnviar" >Adivinar</button>

      </div>

  </div>
</div> -->

